.homeLink{
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.homeLink:hover{
  text-decoration: underline;
}

.customerDetails-header{
  color: white;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(77, 1, 77, 0.899);
}