.customerDetails_container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.customerTable{
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0.5px 3px 0px rgb(187, 185, 185);
    padding:20px;
    width: 60%;
}
.customerTable table{
    border-collapse: collapse;
    width: 100%;
}
.customerTable table tr, .customerTable table th{
    border-bottom: 1px solid rgb(243, 238, 238);
}
.customerTable table th, .customerTable table td{
    padding: 10px;
}
.customerTable table td{
    font-size: 14px;
}
.customerTable table tr:last-child{
    border-bottom:none;
}